{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "width": 80,
  "bracketSpacing": false,
  "bracketSameLine": true,
  "singleAttributePerLine": true,
  "htmlWhitespaceSensitivity": "ignore"
}
